body {
	text-align: center;
	background-color: #000000;
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	padding-right: 15px;
}

h1 {
	color: #ccc7cd;
	font-size: 12px;
	font-family: Arial, sans-serif;
	font-style: italic;
	font-weight: normal;
}

h2 {
	color: #ccc7cd;
	font-size: 52px;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}

h3, h4, h5 {
	color: #fd433e;
	font-size: 62px;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}

hr {
  color: #fd433e;
  line-height: 1px;  
}  
p {
	color: #ccc7cd;
	font-size: 16px;
	font-family: Arial, sans-serif;
	font-weight: normal;
}

h6 {
	color: #ccc7cd;
	font-size: 72px;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}